@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-inner > .carousel-item > img{
        height: 18rem;
    }

    .mb-slider{
        margin-bottom: 1rem;
    }

    .carousel-caption h5{
        font-size: 0.8rem;
    }

    .create-post{
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px){
    .mb-slider{
        margin-bottom: 1rem;
    }

    .carousel-inner > .carousel-item > img{
        height: 25rem;
    }

    .img-post-paginate{
        height: 14rem;
    }

    .create-post{
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .mx-sline{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .carousel-inner > .carousel-item > img{
        height: 32rem;
    }

    .mb-slider{
        margin-bottom: 1rem;
    }

    .img-post-paginate{
        height: 8rem;
    }

    .create-post{
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .mx-sline{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }

    .carousel-inner > .carousel-item > img{
        height: 25rem;
    }

    .img-post-paginate{
        height: 10rem;
    }

    .create-post{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mx-sline{
        margin-left: 9rem !important;
        margin-right: 9rem !important;
    }

    .carousel-inner > .carousel-item > img{
        height: 32rem;
    }

    .img-posts{
        height: 5.35rem;
        width: 15rem;
    }

    .img-post-paginate{
        height: 12rem;
    }

    .create-post{
        display: none;
    }
}

.post-detail .post-detail-content img{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.description-post-paginate{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.centered {
    position: absolute;
    right: 15%;
    bottom: 05px;
    left: 15%;
    z-index: 10;
    color: #fff;
    text-align: center;
}

.form-search {
    padding-left: 2.375rem;
}

.form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.btn-comment{
    font-family: 'Darker Grotesque', sans-serif;
    box-shadow: 0px 5px 0px 0px #03528f7a;
  }
.btn-comment:hover{
    box-shadow: none;
    transform: translateY(5px);
    transition: all .1s linear;
}

.btn-comment:focus{
    outline: none;
}

.img-avatar-circle{
    object-fit: cover;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}
/* Back to top */


/* Footer */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
